body{
  padding: 0px;
  margin: 0px;
}
.intro{
  background-image: url(../Assets/backgrounds/h_img.jpg);
  height: 100vh;
  background-size: cover;
  
  
}
.logo{
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}
h2{
  font-size: 50px;
  color: white;
}
p{
  font-size: 15px;
}
.about{
  text-align: center; 
}
h4{
  text-align: center;
  font-style: bold;
}
.services{
  background-image: url(../Assets/backgrounds/s_image.jpg);
  color: white;
  text-align: center;
  background-size: cover;
}
.contacts{
  background-image: url(../Assets/backgrounds/c_image.jpg);
  background-size: cover;
  height: 100vh;
}
h6{
  font-size: 15px;
}
.design{
  text-align: center;
}
.develop{
  text-align: center;
}
.product{
  text-align: center;
}
.contacts{
  text-align:center;
  padding: 0%;
  color:black;
}

.subjects{
  margin-left: 40%;
}

#yourname,#youremail,#subject{
  background: transparent;
}
.content {
  position: absolute;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
  border: 2px solid white;
  color: white;
  font-size: 30px;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.content_show {
  visibility: visible;
  opacity: 1;
  background-color:grey;
}
.footer{
  text-align: center;
}
.downpage{
  text-align: center;
}

#para{
  display: none;
}